<div class="layout">
  <div class="grid gap--medium">
    <div class="col--span-1 col col--center">
      {% if game == "Max Payne" %}
        <img class="image image--contain" src="{{ poster_max_payne_1 }}" height="200px" />
      {% elsif game == "Max Payne 2" %}
        <img class="image image--contain" src="{{ poster_max_payne_2 }}" height="200px" />
      {% elsif game == "Max Payne 3" %}
        <img class="image image--contain" src="{{ poster_max_payne_3 }}" height="200px" />
      {% endif %}
    </div>
    <div class="col--span-2 col col--center text--black" data-pixel-perfect="true">
      <img class="image" height="25px" width="25px" src='data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M0 216C0 149.7 53.7 96 120 96l8 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-8 0c-30.9 0-56 25.1-56 56l0 8 64 0c35.3 0 64 28.7 64 64l0 64c0 35.3-28.7 64-64 64l-64 0c-35.3 0-64-28.7-64-64L0 216zm256 0c0-66.3 53.7-120 120-120l8 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-8 0c-30.9 0-56 25.1-56 56l0 8 64 0c35.3 0 64 28.7 64 64l0 64c0 35.3-28.7 64-64 64l-64 0c-35.3 0-64-28.7-64-64l0-136z"/></svg>'>
      <p class="value value--xxxlarge" style="font-family: 'Courier New', monospace; font-weight: bold;" data-value-fit="true" data-value-fit-max-height="150" data-pixel-perfect="true" data-overflow="true">{{ text }}</p>
      <img class="image" height="25px" width="25px" src='data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M448 296c0 66.3-53.7 120-120 120l-8 0c-17.7 0-32-14.3-32-32s14.3-32 32-32l8 0c30.9 0 56-25.1 56-56l0-8-64 0c-35.3 0-64-28.7-64-64l0-64c0-35.3 28.7-64 64-64l64 0c35.3 0 64 28.7 64 64l0 136zm-256 0c0 66.3-53.7 120-120 120l-8 0c-17.7 0-32-14.3-32-32s14.3-32 32-32l8 0c30.9 0 56-25.1 56-56l0-8-64 0c-35.3 0-64-28.7-64-64l0-64c0-35.3 28.7-64 64-64l64 0c35.3 0 64 28.7 64 64l0 136z"/></svg>'>
      <p style="font-family: 'Courier New', monospace;" data-pixel-perfect="true">— {{ character }}, {{ game }}</p>
    </div>
  </div>
</div>

<div class="title_bar">
  <img class="image" src="{{ icon_max_payne }}">
  <span class="title">{{ trmnl.plugin_settings.instance_name }}</span>
  <span class="instance">Max Payne</span>
</div>
